Don't use CNAME as SRV targets

Hi.  I noticed this problem while preparing a jabberd2 XMPP section.  Your examples in "DNS setup" have SRV records that point to a CNAME.  RFC 2782 says:

   Target
        The domain name of the target host.  There MUST be one or more
        address records for this name, the name MUST NOT be an alias (in
        the sense of RFC 1034 or RFC 2181).

"alias" is DNS terminology for CNAME.

It is useful to allow putting the XMPP, TURN server and SIP proxy on different hosts, so I believe the document should not avoid that possibility.

Maybe your example config could have different IP addresses for these entities?  So you would have:

xmpp-gw	A	198.51.100.19
xmpp-gw	AAAA	2001:DB8:1000:2000::19
turn-server	A	198.51.100.30
turn-server	AAAA	2001:DB8:1000:2000::30
sip-proxy	A	198.51.100.40
sip-proxy	AAAA	2001:DB8:1000:2000::40

And mention that if people want to put the services on the same host, they will have to modify the A/AAAA records as appropriate.

There are really two separate issues here:
- use of CNAME in SRV records
- showing how to do everything on a single server or multiple servers

Could you create a second Github issue for the second issue and then submit a pull request just for the CNAME issue, using the same IP for all servers?
